@import url("https://fonts.googleapis.com/css2?family=Delius&family=Sora:wght@200..800&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
	themes: sunset;
}
/* @plugin "daisyui/theme" {
	name: "emerald";
	default: true;
	--color-primary: #33bfbf;
	--color-secondary: #00a8e8;
	--color-accent: #008f5f;
	--color-neutral: #111718;
	--color-neutral-content: #d1e1e1;
	--color-success: #3ba976;
	--color-error: #dc3545;
	--color-warning: #eea006;
} */
@plugin "daisyui/theme" {
	name: "sunset";
	prefersdark: true;
	--color-base-100: #12191f;
	--color-primary: #33bfbf;
	--color-secondary: #00a8e8;
	--color-accent: #008f5f;
	--color-neutral: #d1e1e1;
	--color-neutral-content: #111718;
	--color-success: #3ba976;
	--color-error: #dc3545;
	--color-warning: #eea006;
}
@theme {
	--font-delius: "Delius", cursive;
	--font-sora: "Sora", Verdana, sans-serif;
}
